@-moz-document domain("music.youtube.com") {
ytmusic-player-page {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 100%);
}

#nav-bar-background, ytmusic-nav-bar {
    background-color: black!important;
}

#player-bar-background, ytmusic-player-bar {
    background-color: black!important;
}

.content {
    background-color: transparent;
    display: block!important;
}

#main-panel {
    display: none!important;
}

.side-panel {
    max-width: 100%!important;
    width: 90%!important;
}

ytmusic-browse-response {
    background-color: transparent!important;
}

ytmusic-carousel-shelf-renderer {
    margin-bottom: 0!important;
}
}
